[DEFAULT]
PORT = {{ port }}
ROOT_DIR = {{ root_dir }}

[mysql]
DB_HOST = {{ mysql.host }}
DB_USER = {{ mysql.user }}
DB_PASSWORD = {{ mysql.password }}
DB_NAME = {{ mysql.database }}

[uwsgi] # Production only
chdir= {{ root_dir }}
module = wsgi:app
master = false
enable-thread = true
socket = {{ wsgi_socket }}
chmod-socket = 660
vacuum = true
die-on-term = true